.App {
  background-color: rgb(25, 25, 25);
  height: fit-content;
  min-height: 100vh;
  width: 100vw;
  color: whitesmoke;
}

.NavAndComponents {
  display: flex;
  flex-direction: row;
}

.Components {
  flex-grow: 1;
}