
.notification {
    width: 300px;
    height: 100px;
    background-color: #fecfc0;
    display: flex;
    flex-direction: row;
    margin: 5px;
}

.notificationIcon {
    align-self: center;
    margin: 15px;
}

.notificationText {
    display: flex;
    flex-direction: column;
    align-self: center;
    color:  black;
    flex-grow: 1;
    justify-content: space-evenly;
    height: 80px;
}

.notificationText * {
    margin: 0;
}

.notificationText p {
    font-size: 15px;
}

.notificationButtons {
    display: flex;
    flex-direction: column;
    align-self: center;
    margin: 15px;
}

.notificationButtons button {
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 12px;
    background: none;
    border: none;
}

.notificationButtons button:hover {
    cursor: pointer;
}